{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}
<body style="background-color:powderblue;">
<p>This is the About page</p>
<br />

<!-- using style attribute -->
<p style="color:red;">Colouring using style attribute: I am red</p>
<style>
.blue_style {
  color: blue;
}
</style>

<!-- using class -->
<div class="blue_style">
<p>Colouring using class attribute style: I am blue </p>
</div>
<p>Colouring using class attribute style: <span class="blue_style">I am blue</span> </p>

<!-- using tag style -->
<style>
h6    {color: green;}
</style>
<h6>Colouring using tag style: this is green</h6>

<!-- using CSS -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<p class="purple_style">Colouring using CSS and class attribute style: I am purple!!!! </p>
<h3>Purple using CSS and tag styling</h3>

<!-- using JS -->
<script>
function ToggleOrange() {
  var x = document.getElementsByClassName("orange_style");
  for (var i = 0; i < x.length; i++) {
    if (x[i].style.color == "orange") {
        x[i].style.color = "";
    }
    else {
        x[i].style.color = "orange";
    }
  }
}
</script>
<script src="{% static 'js/utils.js' %}"></script>
<button onclick="ToggleOrange()">Toggle Orange colour (internal js)</button>
<button onclick="ToggleOrangeColour()">Toggle Orange colour (external js)</button>
<br /><br />
<p class="orange_style">Colouring using javascript. This is orange!</p>

<!-- loading and image -->
<br />
<p>Loading an image</p>
<img src="{% static 'images/Blue Dot.png' %}" alt="Blue Dot Image" width="32" height="32">
<img src="{% static 'images/Blue Dot.png' %}" alt="Blue Dot Image">
<img src="{% static 'images/Blue Dot.png' %}" alt="Blue Dot Image" width="96" height="96">

{% endblock %}
